<h1>プロフィール設定</h1>

<%= form_with model: @user, url: profile_path do |form| %>
  <div class="profile_edit">
    <div class="icon_form">
      <% if @user.icon.present? %>
        <%= image_tag @user.icon.url, class: 'rounded-circle mt-3', id: 'preview' %>
      <% else %>
        <%= image_tag "DefaultUserIcon.png", class: 'image', id: 'preview' %>
      <% end %>
      <%= form.label :icon,for: '' %>
      <%= form.file_field :icon, onchange: 'previewImage()', class: 'form-control' %>
      <%= form.hidden_field :icon_cache %>
    </div>

    <div class="text_form">
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, class: "mb-2", size: 29 %>
      </div>
      <div>
        <%= form.label :introduction, style: "display: block" %>
        <%= form.text_area :introduction, class: "mb-2", cols: 30, rows: 5, style: "resize: none;"%>
      </div>
      <div style="display: block;">
        <%= form.submit t('.change') %>
      </div>
    </div>
  </div>
<% end %>




