<div class="profile_name">
  <div class="image">
    <% if @user.icon.url.present? %>
       <%= image_tag @user.icon.url %>
    <% else %>
      <%= image_tag "DefaultUserIcon.png" %>
    <% end %>
  </div>
  <div class="name">
    <p><%= @user.name %></p>
  </div>
  <div class="follower">
    <p><%= follower_count(@user_follower) %>人のフォロワー</p>
  </div>
  <div class="button">
    <% if logged_in? %>
      <% if @user.id == current_user.id %>
        <%= link_to t('.edit'), edit_profile_path(current_user.id), class: "btn btn-primary" %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー解除', unfollow_path(@user.id), data: { turbo_method: :post }, class: "btn btn-light" %>
        <% else %>
          <%= link_to 'フォロー', follow_path(@user.id), data: { turbo_method: :post }, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="text">
  <p><%= @user.introduction %></p>
</div>

<hr>

<div class="post">
  <%= render partial: 'shared/post', collection: @posts %>
</div>


