<h1><%= t('.title') %></h1>

<%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>

  <!-- 元々あったエラーメッセージ表示用コード、後で見直す時の参考用に
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  -->
    
  <div class="field">
    <%= f.label :email, style: "display: block" %>
    <%= @user.email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, style: "display: block" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, style: "display: block"  %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t('.change') %>
  </div>
<% end %>