<div class=" col-md-8 col-lg-6 mx-auto">
  <h1><%= t('.title') %></h1>

  <%= form_with url: password_resets_path, local: true, method: :post do |form| %>
    <div class="field">
      <div class="mb-3">
        <%= form.label :email , style: "display: block"%>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="mb-3" style="display: block;">
        <%= form.submit t('.mail_send'), class: "btn btn-primary"  %>
      </div>
    </div>
  <% end %>
</div>