<h1><%= t('.title') %></h1>

<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field">
    <%= form.label :email , style: "display: block"%>
    <%= form.text_field :email %>

    <div style= "display: block;">
      <%= form.submit t('.mail_send') %>
    </div>
  </div>
<% end %>