<h1>ログインページ</h1>

<%= form_with url: login_path do |form| %>
  <!-- ログイン用のフォーム -->
  <div>
    <%= form.label :email, 'メールアドレス', style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <!-- ログイン用のボタン -->
  <%= form.submit 'ログイン' %>
<% end %>

<!-- 新規登録用のリンク -->
<%= link_to "新規登録", new_user_path %>
<!-- パスワードリセット用のリンク -->
<%= link_to "パスワードを忘れた方はこちら", new_password_reset_path %>
