<h1>新規ユーザー登録</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name, '名前', style: "display: block" %>
    <%= form.text_field :name, value: params[:name] %>
  </div>

  <div>
    <%= form.label :email, 'メールアドレス', style: "display: block" %>
    <%= form.text_field :email, value: params[:email] %>
  </div>

  <div>
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, 'パスワード確認用', style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div style="display: inline-block;">
    <%= form.submit '新規登録' %>
  </div>

<% end %>
