<!-- 未ログイン時のヘッダー用ページ -->
<nav class="navbar navbar-expand-lg bg-body-tertiary", style="background-color: #f08080; height: 80px;">
  <div class="container-fluid">
    <!-- サイト名、 検索バー表示 -->
    <%= link_to t('top.index.site'), root_path, class: "navbar-brand"%>
    <ul class="navbar-nav me-auto">
      <%= search_form_for @q, url: posts_search_path do |f| %>
        <div class="d-flex">
        <%= f.search_field :comment_or_tags_name_cont, class: 'form-control', placeholder: 'ポストを検索' %>
        <%= f.submit '検索', class: 'btn btn-primary', style: "width: 70px;"%>
        </div>
      <% end %>
    </ul>
    <!-- ログイン、新規登録ボタン表示 -->
    <div class="justify-content-end">
      <%= link_to t('top.index.login'), new_login_path, class: "btn btn-light me-2", style: "width: 100px; height: 40px;" %>
      <%= link_to t('top.index.new_registration'), new_user_path, class: "btn btn-primary", style: "width: 100px;"%>
    </div>
  </div>
</nav>
