<div class="card">
  <div class="row g-0">
    <!-- サムネイルの表示 -->
    <div class="col-md-3">
      <div class="thumbnail" style="width: 100%; height: 100%;">
        <% video_item = youtube_get_item(post.movie_url) %>
        <% if !video_item.nil? %>
          <%= link_to "https://www.youtube.com/watch?v=" + @video_id, target: :_blank do %>
            <%= image_tag video_item.snippet.thumbnails.standard.url, style: "width: 100%; height: 100%;" %>
          <% end %>
        <% else %>
          <div class="no_image", style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; background-color: #696969;">
            <h2>No Image</h2>
          </div>
        <% end %>
      </div>
    </div>
    <!-- コメント、タイトルなどの表示 -->
    <div class="col-md-7">
      <div class="card-body d-flex flex-column" style="padding: 8px; height: 100%;">
        <!-- ユーザーの表示 -->
        <%= link_to profile_path(post.user.id), style: "text-decoration: none; color: inherit;" do %>
          <div class="card-user d-flex">
            <div class="icon">
              <% if post.user.icon.url.present? %>
                <%= image_tag post.user.icon.url, width: "30px", height: "30px" %>
              <% else %>
                <%= image_tag "DefaultUserIcon.png", width: "30px", height: "30px" %>
              <% end %>
            </div>
            <div class="name">
              <p><%= post.user.name %></p>
            </div>
          </div>
        <% end %>
        
        <!-- コメントの表示 -->
        <p><%= post.comment %></p>

        <!-- タグ、動画タイトル、表示回数、投稿日を下寄せで表示 -->
        <div class="card-other", style="margin-top: auto; font-size: 11px;">
          <% get_tag_name(post.id).each do |tag| %>
            <%= link_to "#" + tag, posts_search_path(q: { tags_name_eq: tag }), style: "text-decoration: none; font-weight: bold;" %>
          <% end %><br>
          <% if !video_item.nil? %>
            <b><%= video_item.snippet.title %></b><br>
          <% else %>
            動画が見つかりませんでした。<br>
          <% end %>
          投稿日:<%= posttime_output(post.created_at) %>, 表示回数:<%= post.view_count %>回
          <%= postview_count(post) %>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-flex" style="justify-content: flex-end; align-items: center;">
      <% if logged_in? && request.path == profile_path(current_user.id) %>
        <div class="delete-button" style="margin-right: 10%">
          <%= link_to "削除", post_path(post.id), class: "btn btn-danger" ,  data: { turbo_method: :delete, turbo_confirm: "ポストを削除しますか？" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
