<h1>メールアドレス・パスワード変更</h1>

<%= form_with model: @user, url: setting_path do |form| %>
  <div class="Setting_form">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, class: "mb-2" %>
  </div>

  <div style="display: inline-block;">
    <%= form.submit "変更" %>
  </div>
<% end %>




