
<div class=" col-md-8 col-lg-6 mx-auto">
  <h1>新規ポスト投稿</h1>
  <%= form_with model: @post do |form| %>
    <%= render 'shared/error_message', object: form.object %>
    <div class="mb-2">
      <%= form.label :movie_url, style: "display: block" %>
      <%= form.text_field :movie_url, class: "form-control", placeholder: 'YouTubeの共有ボタンから取得したURL' %>
    </div>
    <div class="mb-2">
      <%= form.label :comment, style: "display: block" %>
      <%= form.text_area :comment, cols: 30, rows: 5, style: "resize: none;", class: "form-control", placeholder: '255文字以内まで'  %>
    </div>
    <div class="mb-2">
      <%= form.label :tag, style: "display: block" %>
      <%= form.text_field :tag, class: "form-control", placeholder: 'タグを複数つける場合、「タグ1,タグ2,タグ3,...」と「,」でタグを分けてください' %>
    </div>
    <div class="mb-2">
      <%= form.label :game_name, style: "display: block" %>
      <div class="d-flex">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#GameSelect" style="width: 70px;">選択</button>
        <%= form.text_field :game_name, class: "form-control", style: "background-color: white;", id: "game_name", placeholder: '選択を押してゲーム検索' %>
        <%= form.hidden_field :game_icon, id: "game_icon" %>
      </div>
    </div>

    <div style="display: block;">
      <%= form.submit t('.submit'), class: "btn btn-primary post-btn"  %>
    </div>
  <% end %>
  <%= render 'game_name' %>
  
</div>